OL, UL {list-style: decimal;}
UL {list-style: square;}
LI {padding: .4em;} 


/*.gp {top: 411.5%;}                    
.g {top: 411.5% !important;}*/

#fback {display: none;}

.panel, .g, .gp
{
  display: block;
  position: absolute;
  left: 20% !important;
  z-index: 2147483645 !important;
}

#panel-1 {top: 0% !important;}
#panel-2 {top: 100% !important;}
#panel-3 {top: 200% !important;}
#panel-4 {top: 300% !important;}
#panel-5 {top: 400% !important;}