/* If you want to delete any strings, say about this me, please */
@font-face                               /* PT Sans Regular*/
{
  font-family: 'PT Sans'; 
	src: url('../fonts/PT/sans/regular/pts55f_w.eot'); 
	src: local('PT Sans'), 
  url('../fonts/PT/sans/regular/PTS55F_W.woff') format('woff'), 
  url('../fonts/PT/sans/regular/PTS55F_W.ttf') format('truetype'), 
  url('../fonts/PT/sans/regular/PTS55F_W.svg#PTSans-Regular') format('svg');
}

@font-face                               /* PT Sans Bold*/
{
  font-family: 'PT Sans';
	src: url('../fonts/PT/sans/bold/pts75f_w.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('PT Sans Bold'), 
  url('../fonts/PT/sans/bold/PTS75F_W.woff') format('woff'), 
  url('../fonts/PT/sans/bold/PTS75F_W.ttf') format('truetype'), 
  url('../fonts/PT/sans/bold/PTS75F_W.svg#PTSans-Bold') format('svg');
}


@font-face                               /* PT Serif Regular*/
{
  font-family: 'PT Serif'; 
	src: url('../fonts/PT/serif/regular/ptf55f_w.eot'); 
	src: local('PT Serif'), 
  url('../fonts/PT/serif/regular/ptf55f_w.woff') format('woff'), 
  url('../fonts/PT/serif/regular/ptf55f_w.ttf') format('truetype'), 
  url('../fonts/PT/serif/regular/ptf55f_w.svg#PTSerif-Regular') format('svg');
}
  
@font-face                               /* PT Serif Italic*/
{
  font-family: 'PT Serif'; 
	font-style: italic;
	src: url('../fonts/PT/serif/italic/ptf56f_w.eot'); 
	src: local('PT Serif Italic'), 
  url('../fonts/PT/serif/italic/ptf56f_w.woff') format('woff'), 
  url('../fonts/PT/serif/italic/ptf56f_w.ttf') format('truetype'), 
  url('../fonts/PT/serif/italic/ptf56f_w.svg#PTSerif-Italic') format('svg');
}
  
@font-face                               /* PT Serif Bold*/
{
  font-family: 'PT Serif';
	src: url('../fonts/PT/serif/bold/ptf75f_w.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('PT Serif Bold'), 
  url('../fonts/PT/serif/bold/ptf75f_w.woff') format('woff'), 
  url('../fonts/PT/serif/bold/ptf75f_w.ttf') format('truetype'), 
  url('../fonts/PT/serif/bold/ptf75f_w.svg#PTSerif-Bold') format('svg');
}
  

    

BODY
{        
  margin: 0;
  padding: 0;
  font-family: 'PT Serif';
  overflow: hidden;  
}
                               
/* Logo + Menu */              
#left
{
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
}

#menu
{
  position: fixed;
  top: 30%;
  left: 0;
  width: 20%;           /* Text-shadow for <h1> just for luzl with big screens*/
  height: 100%;                                                      /* (me?) */
  background: #7FC7FF;
	z-index: 100;
}

#menu > INPUT,
#menu > A 
{
	position: fixed;
	width: 20%;
  margin-left: 0;      /* Don't touch this line!*/
  padding: 0; 
	cursor: pointer;
	font-size: 250%;
  text-align: center;
	height: 10%;
  background: #7fc7ff; 
  font-family: 'PT Sans';
}

#menu > A
{
	text-decoration: none;
  color: #003684;
}  

#menu > INPUT 
{
	opacity: 0;
	z-index: 101; 
}

#menu > A 
{
	opacity: 1;
}

.control-1, .control-1 + A {top: 30%;}
.control-2, .control-2 + A {top: 40%;}
.control-3, .control-3 + A {top: 50%;}
.control-4, .control-4 + A {top: 60%;}
.control-5, .control-5 + A {top: 70%;}

#menu > INPUT:checked + A,
#menu > INPUT:checked:hover + A
{
	background: #4682b4;
  cursor: default;
}

#menu > INPUT:checked + A:before,
#menu > INPUT:checked:hover + A:before
{
	top: 50%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #4682b4;
	border-width: 49px;
	left: 100%;
	margin-top: -49px;
  z-index: 101;  
}

#menu > INPUT:hover + A
{
	background: #79a0c1;
}

#menu > INPUT:hover + A:after 
{
	border-top-color: #AD244F;
}

#logo, #gototop
{
  display: block;         /* Link is block */ 
  position: fixed; 
  top: 0;
  left: 0;
  opacity: 1;
  width: 20%;
  height: 30%;
  cursor: pointer;
  background: url(../pic/logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo {opacity: 0; z-index: 100;}
#gototop {opacity: 1; z-index: 99;}

#logo:checked + #gototop,
#logo:checked:hover + #gototop
{
  background: url(../pic/logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo:checked + #gototop:before,
#logo:checked:hover + #gototop:before
{
	top: 116.5%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #4682b4;
	border-width: 49px;
	left: 100%;
	margin-top: -49px;
  z-index: 101;  
}

#logo:hover + #gototop
{
  background: url(../pic/logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo:hover + #gototop:after 
{
	border-top-color: none;
}

#logo:checked ~ #menu > .control-1 + A {background: #4682b4}



/* Content */
#right
{
  position: relative;   /* It works -- i have no idea why */
  left: 20%;
  width: 80%;
  height: 100%;
  z-index: 99; 
}

.panel
{
  position: absolute;   /* Position is very strange, don't touch its :D  */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  overflow: auto;    
}

#panel-1 {top: 0%;}
#panel-2 {top: 100%;}
#panel-3 {top: 200%;}
#panel-4 {top: 300%;}
#panel-5 {top: 400%;}


.content
{
  padding: 1% 60px;
}

H2
{
  font-size: 500%;
  font-family: 'PT Sans';
  font-weight: bold;
}

P
{
  font-size: 200%;
}

A
{
  outline: none;
}  





/* testmodeon */


/* testmodeoff*/               