/* If you want to delete any strings, tell  about this me, please */

BODY
{        
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', 'Georgia', serif; 
  overflow: hidden;
}
                               
/* Logo + Menu */              
#left
{
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
	z-index: 5;
}

#menu
{
  position: fixed;
  top: 30%;
  left: 0;
  width: 20%;           /* Text-shadow for <h1> just for luzl with big screens*/
  height: 100%;                                                      /* (me?) */
  background: #4682b4;
}

#menu > INPUT,
#menu > A 
{
	position: fixed;
	width: 20%;
  margin-left: 0;      /* Don't touch this line!*/
  padding-top: 1%; 
	cursor: pointer;
	font-size: 250%;
  text-align: center;
	height: 10%;    
  background: #4682b4; 
  font-family: 'PT Sans', 'Helvetica', sans-serif;
}

#menu > A
{
	text-decoration: none;
  color: #1a4780;
 	opacity: 1;
  -webkit-transition: all 0.2s ease;
  text-shadow:0px 0px 1.5px #1a4780; 
}  

#menu > INPUT 
{
	opacity: 0;
	z-index: 6; 
}

.control-1, .control-1 + A {top: 30%;}
.control-2, .control-2 + A {top: 40%;}
.control-3, .control-3 + A {top: 50%;}
.control-4, .control-4 + A {top: 60%;}
.control-5, .control-5 + A {top: 70%;}

#menu > INPUT:checked + A,
#menu > INPUT:checked:hover + A
{
	background: #FFFFFF;
}

#menu > INPUT:hover + A
{
	background: #B6CEE2; 
}


#logo, #gototop
{
  display: block;         /* Link is block */  
  position: fixed; 
  top: 0;
  left: 0;
  width: 20%;
  height: 30%;
  cursor: pointer;
  background: url(../pic/logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo {opacity: 0; z-index: 6;}
#gototop {opacity: 1; z-index: 5;}

#logo:checked + #gototop,
#logo:checked:hover + #gototop
{
  background: url(../pic/logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo:hover + #gototop
{
  background: url(../pic/logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo:checked ~ #menu > .control-1 + A {background: #FFFFFF}



/* Content */
#right
{
  position: relative;   /* It works -- i have no idea why */
  left: 20%;
  width: 80%;
  height: 100%;
  z-index: 10; 
  background: white;    
}

.panel, .g, .gp
{
  position: absolute;   /* Position is very strange, don't touch its :D  */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; 
  outline: none;
  overflow: auto;
  background: white;
  text-shadow: 0px 0px 1px #808080;                /* Smoothing */
}

#panel-1 {top: 0%;}
#panel-2 {top: 100%;}
#panel-3 {top: 200%;}
#panel-4 {top: 300%;}
#panel-5 {top: 400%;}


.content
{
  padding: 1% 60px;
}


/* Gallery */
.gp {top: 400%;}

.gp H2
{
  padding: 0 1%;
}

.g 
{
  top: 300%; 
  z-index: 3;
}



#f {left: 100%;}
#v {left: 200%;}

#g-1 {left: 300%;}

.gback
{
  text-decoration: none;
}

#fback
{
  display: block;
  position: fixed;
  top: 3%;
  left: 1.5%;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  line-height: 35px;
  z-index: 4;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  background: #4682b4;
  -webkit-transition: all 0.2s ease;
  color: white;
}

#fback:hover
{
  color: #4682b4;
  background: #fff;
}

.gpa
{
  display: inline-block;
  position: relative;
  margin: 1%;
  padding: 10px;
  text-decoration: none;
  float: left;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  text-shadow: none;   /* Smoothing none */
}

.gpa:hover
{
  background: #4682b4;
  color: #fff;
  border-radius: 5px;  
  text-shadow: none;   /* Smoothing none */
}

.gpa > P
{
  text-align: center;
}

/* Gallery */

H1, H2, H3, H4, H5, H6
{
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  text-shadow: 0px 0px 1px #000;    /* Smoothing */
}

H1 {font-size: 500%;}
H2 {font-size: 400%;}
H3 {font-size: 300%;}
H4 {font-size: 200%;}
H5 {font-size: 150%;}
H6 {font-size: 100%;}

P
{
  font-size: 150%;
  -webkit-transition: all 0.2s ease;
}

A
{
  color: #4682b4;       /* #0000ff */
  outline: none;
  -webkit-transition: all 0.2s ease;
}

A:hover
{
  color: #ff2400;
}

CODE
{
  font-family: 'PT Mono', 'Courier', monospace;
  text-shadow: 0px 0px 1px #000;   /* Smoothing */
}

CITE
{
  display: block;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  font-style: normal;
  margin: 30px 0px;  
  padding-left: 20px;
  border-left: 5px solid #08457e;
}  

EM
{
  font-family: 'PT Serif', 'Georgia', serif;
  font-style: italic;
}

BLOCKQUOTE
{
  display: block;
  margin: 30px;
  font-size: 125%;
  position: relative;
}
BLOCKQUOTE:before
{
  content: '«';
  font-size: 400%;
  position: absolute;
  line-height: 0.1;
  left: -45px;
}

BLOCKQUOTE:after
{
  content: '»';
  font-size: 400%;
  position: absolute;
  line-height: 0.1;
  right: -45px;
}  

OL, UL
{
 counter-reset: li;       /* New counter */
 list-style: none;        /* Delete default markers */
 *list-style: decimal;    /* Default markers for IE with love */
 padding: 0;
 margin-bottom: 80px;
}

UL
{
 counter-reset: none;      /* New counter */
 *list-style: square;      /* Default markers for IE with love */
}

OL OL,
UL UL
{
 margin: 0 0 0 40px; 
}  

LI
{
 position: relative;
 display: block;
 padding: .4em .4em .4em .8em;
 *padding: .4em;                /* For IE with love */
 margin: .5em 0 .5em 2.5em;
 background: #ddd;
 color: #444;
 font-family: 'PT Sans', 'Helvetica', sans-serif;
}       

OL LI:before                /* Counter */
{
 content: counter(li);
 counter-increment: li;
 position: absolute;
 left: -2.5em;
 top: 50%;
 margin-top: -1em;
 background: #08457E;
 height: 2em;
 width: 2em;
 color: #ddd;
 line-height: 2em;
 text-align: center;
 font-weight: bold;
} 

UL LI:before 
{
 content: '';
 position: absolute;
 left: -2.5em;
 top: 50%;
 margin-top: -1em;
 background: #08457E;
 height: 2em;
 width: 2em; 
}  


/* Auto font zoom */

/* Height */

@media screen and (max-height: 800px)
{
  #menu > A {font-size: 200%;}
  H1        {font-size: 450%;}
  H2        {font-size: 350%;}
  H3        {font-size: 250%;}
  H4        {font-size: 150%;}
  H5        {font-size: 100%;}
  H6        {font-size: 80%;}
  P         {font-size: 130%;} 
}

@media screen and (max-height: 600px)
{
  #menu > A {font-size: 150%;}
  H1        {font-size: 400%;}
  H2        {font-size: 300%;}
  H3        {font-size: 200%;}
  H4        {font-size: 100%;}
  H5        {font-size: 80%;}
  H6        {font-size: 60%;}
  P         {font-size: 120%;} 
}

@media screen and (max-height: 400px)
{
  #menu > A {font-size: 100%;}
  H1        {font-size: 350%;}
  H2        {font-size: 250%;}
  H3        {font-size: 150%;}
  H4        {font-size: 700%;}
  H5        {font-size: 60%;}
  H6        {font-size: 50%;}
  P         {font-size: 110%;} 
}


/* Width */

@media screen and (max-width: 1200px)
{
  #menu > A {font-size: 200%;}
  H1        {font-size: 450%;}
  H2        {font-size: 350%;}
  H3        {font-size: 250%;}
  H4        {font-size: 150%;}
  H5        {font-size: 100%;}
  H6        {font-size: 80%;}
  P         {font-size: 130%;} 
}

@media screen and (max-width: 900px)
{
  #menu > A {font-size: 150%;}
  H1        {font-size: 400%;}
  H2        {font-size: 300%;}
  H3        {font-size: 200%;}
  H4        {font-size: 100%;}
  H5        {font-size: 80%;}
  H6        {font-size: 60%;}
  P         {font-size: 120%;} 
}

@media screen and (max-width: 650px)
{
  #menu > A {font-size: 100%;}
  H1        {font-size: 350%;}
  H2        {font-size: 250%;}
  H3        {font-size: 150%;}
  H4        {font-size: 700%;}
  H5        {font-size: 60%;}
  H6        {font-size: 50%;}
  P         {font-size: 110%;} 
}