
<!-- saved from url=(0058)https://raw.githubusercontent.com/K-16/Site/dev/.gitignore -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css"></style></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;"># Кэш картинок от Винды
Thumbs.db

# Продукты компиляции less в css
compiled.css
main.less.cache</pre></body></html>