AddDefaultCharset UTF-8
DefaultLanguage ru-RU

<IfModule mod_rewrite.c>

  SetEnv HTTP_MOD_REWRITE On

  RewriteEngine on

  RewriteBase /

  RewriteRule ^.htaccess$ [F]

  # Я знаю, что это ужасно. Скоро исправлю.

  RewriteRule ^news$ index.php [L]
  RewriteRule ^history$ index.php [L]
  RewriteRule ^education$ index.php [L]
    RewriteRule ^education/(.*) index.php [L]
  RewriteRule ^activity$ index.php [L]
    RewriteRule ^activity/(.*) index.php [L]
  RewriteRule ^people$ index.php [L]
    RewriteRule ^people/(.*) index.php [L]
  RewriteRule ^contacts$ index.php [L]
  RewriteRule ^photo$ index.php [L]

</IfModule>