AddDefaultCharset UTF-8
DefaultLanguage ru-RU

<IfModule mod_rewrite.c>

    SetEnv HTTP_MOD_REWRITE On

RewriteEngine on

RewriteBase /

# Я знаю, что это ужасно. Скоро исправлю.

RewriteRule ^news$ index.php?page=news [L,NE]
RewriteRule ^history$ index.php?page=history [L,NE]
RewriteRule ^education$ index.php?page=education [L,NE]
RewriteRule ^activity$ index.php?page=activity [L,NE]
RewriteRule ^people$ index.php?page=people [L,NE]
RewriteRule ^about$ index.php?page=about [L,NE]
RewriteRule ^photo$ index.php?page=photo [L,NE]

# RewriteRule ^to/(.*)$ index.php?page=$1

</IfModule>