/*
 * 
 * baseMarkup.less
 * ===============
 *  - Базовая вёрстка страницы
 *
*/

// Для отладки в LESS кода пропиши после адреса сайта /#!watch.

body
{
  position: relative;
  .insets(0, 0);
  .sansFont;

  nav
  {
    .movingBlock(fixed);
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: @COLOR_BLUE;
  }

  .panel
  {
    .movingBlock(fixed);
    top: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    margin: 0;
    overflow: auto;
    background: @COLOR_WHITE;

    .content { padding: 1% 60px; };
    .content noMenu { padding: 0 2%; };
/*  
    h2
    {
      .movingBlock(relative);      
      margin-top: -100px;
      padding-bottom: 0px !important;
    }
*/
  }

}