.sansFont {
  font-family: 'PT Sans', 'Calibri', 'Helvetica', sans-serif;
}
.serifFont {
  font-family: 'PT Serif', 'Cambria', 'Georgia', serif;
}
.monoFont {
  font-family: 'PT Mono', 'Lucida Console', 'Courier', monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000000;
  text-shadow: 0px 0px 1px #000000;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
h1 {
  font-size: 450%;
}
h2 {
  font-size: 375%;
}
h3 {
  font-size: 300%;
}
h4 {
  font-size: 225%;
}
h5 {
  font-size: 150%;
}
h6 {
  font-size: 75%;
}
p {
  font-size: 125%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #4682b4;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: #ff2400;
}
em {
  font-style: normal;
}
em.italic {
  font-style: italic;
}
em.bold {
  font-weight: bold;
  font-style: normal;
}
code {
  font-family: 'PT Mono', 'Lucida Console', 'Courier', monospace;
}
.tag:before {
  content: '<';
}
.tag:after {
  content: '>';
}
cite {
  display: block;
  font-style: normal;
  margin: 30px 0px;
  padding-left: 20px;
  font-size: 105%;
  border-left: 5px solid #4682b4;
}
blockquote {
  display: block;
  position: relative;
  margin: 30px;
  font-size: 125%;
}
blockquote:before {
  content: '«';
  position: absolute;
  font-size: 400%;
  line-height: 0.1;
  left: -45px;
}
blockquote:after {
  content: '»';
  position: absolute;
  font-size: 400%;
  line-height: 0.1;
  right: -45px;
}
.author {
  display: block;
  text-align: right;
  font-size: 125%;
}
.author img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.author img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
table,
tr {
  width: 100%;
}
td {
  padding: 5%;
  width: 20%;
  text-align: center;
}
ol,
ul {
  counter-reset: li;
  list-style: none;
  padding: 0;
}
ul {
  counter-reset: none;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0 0 0 40px;
}
li {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  color: #000;
  font-size: 100%;
}
ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #4682b4;
  height: 2em;
  width: 2em;
  color: #ffffff;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
ul li:before {
  content: '';
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #4682b4;
  height: 2em;
  width: 2em;
}
input {
  height: 30px;
  padding: 5px;
  width: 30%;
}
textarea {
  resize: none;
  width: 50%;
  height: 200px;
  font-size: 85%;
  padding: 5px;
}
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: 'PT Sans', 'Calibri', 'Helvetica', sans-serif;
  border: 1px solid #4682b4;
  border-radius: 2px;
  outline: none;
}
input:hover,
textarea:hover {
  box-shadow: 0px 0px 2px #4682b4;
}
input:focus,
textarea:focus {
  box-shadow: 0px 0px 5px #4682b4;
}
select {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Calibri', 'Helvetica', sans-serif;
}
body nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
}
body .panel {
  display: block;
  position: fixed;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
  margin: 0;
  overflow: auto;
  background: #ffffff;
}
body .panel .content {
  padding: 1% 60px;
}
body .panel .content noMenu {
  padding: 0 2%;
}
body .menu .logo {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 30%;
  background: url('../img/logo.png') no-repeat;
  background-color: #ffffff;
  background-size: 100% 100%;
}
body .menu .logo:hover {
  -webkit-filter: hue-rotate(180deg);
  -moz-filter: hue-rotate(180deg);
  -ms-filter: hue-rotate(180deg);
  -o-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
body .menu .logo:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
body .menu .item {
  display: block;
  position: relative;
  top: 30%;
  width: 100%;
  height: 10%;
  padding-top: 1%;
  line-height: 1.9;
  cursor: pointer;
  font-size: 200%;
  text-align: center;
  background: #4682b4;
  color: #ffffff;
  text-shadow: 0px 0px 1px #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .menu .item:hover {
  background: #294d6b;
  color: #ffffff;
  text-shadow: 0px 0px 1px #ffffff;
}
body .menu .item:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
