/*
 * 
 * news.less
 * =========
 *  - Верстка новостей
 *
*/

#news article
{
  padding: 20px 0 20px 0;
  border-bottom: 3px solid @COLOR_BLUE;

  &:nth-last-of-type(1)
  {
    border-bottom: none;
  };

  .info
  {
    text-align: right;
  };

  .info, .photo
  {
    margin-top: 10px;
  };

  & time,
  & address,
  & span
  {
    display: inline;
    color: #aaaaaa;
    font-style: normal;
  };
};